//colors
$bg-color-white: #fff;
$bg-color-light: #f9fafa;

$primary-color: #00d6a3;
$secondery-color: #033b4a;
$secondery-color-2: #033a49;

//font-color
$font-color-1: #9dabaf;
$font-color-white: #fff;

//font-family
$font-family: 'Saira', sans-serif;